*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

main {
  background-color: #ffcd9e;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_box {
  width: 575px;
  height: 575px;
}
.img_box img {
  width: 100%;
  height: 100%;
}
#content_heading {
  font-size: 36px;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}
.content_box {
  width: 558px;
}
.content_para_1 {
  font-size: 20px;
  line-height: 2rem;
  letter-spacing: -0.5px;
  margin-bottom: 1.5rem;
}
.content_spacing {
  margin: 0.7rem;
}
.content_para_2 {
  font-size: 19px;
  font-weight: 900;
  font-family: "Inter", sans-serif;
  margin-bottom: 2.5rem;
}
input[type="email"] {
  padding: 1rem 0.7rem;
  border: 4px solid black;
  border-radius: 8px;
  width: 344px;
  margin-right: 0.7rem;
}
input[type="email"]::placeholder{
    font-weight: 500;
    font-size: 16px;
}
.registerBtn {
  padding: 1rem 1.5rem;
  background-color: #282828;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.footer {
    background-color: #282828;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    padding: 3rem;
  }
.content_bottomLine {
  font-size: 16px;
  color: #ffffff;
  display: inline-block;
  margin: 1rem 0 0 3rem;
}
li{
    list-style: none;
}
.left_footer_text li{
    text-align: left;
    line-height: 2.2rem;
}
.right_footer_text{
    text-align: right;
    line-height: 2.2rem;
}
.footer_contact{
    margin-top: 2.2rem;
}